body {
    background-color: pink;
    font-family: "Comic Sans MS", cursive;
    color: purple;
}

form {
    padding: 20px;
    border: 3px dotted purple;
    background-color: #41ff41;
    width: 300px;
    margin: 50px auto;
    text-align: center;
}
